includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app

    level: 5

    treatPhpDocTypesAsCertain: false

    parallel:
        maximumNumberOfProcesses: 4

    excludePaths:
        - app/Controllers/Api/*
